body {
    align-items: center;
    min-width: 350px;
    width: 100%;
}

.header {
    margin: 4% 6% 0%;
    /* display: block;
    position: fixed; */
}

h1 {
    font-family: 'georgia';
    font-weight: normal;
    font-size: 3em;
    color: rgba(212, 212, 212, 0.87)
}

.nav {
  background-color: #1e1e1e;
  padding: 0 24px;
  margin: 0px 20px 20px 20px;
  /* display: block;
    position: fixed; */
}

.nav-buttons {
  background: none;
  border: none;
  color: #888;
  font-size: 15px;
  font-weight: 400;
  padding: 14px 12px;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
  bottom: -2px;
}

.nav-buttons.active {
  color: #f5f5f5;
  font-weight: 700;
}

.nav-buttons.active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 0;
}

.sorting-filtering {
    margin: 0% 6%;
    background-color: #1e1e1e;
}
/* 
.css-b62m3t-container{
    appearance: none;
    background-color: #1e1e1e;
    color: #1e1e1e;
    border-radius: 1%;
} */

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#post-comment-button {
    padding: 2px;
}

ul {
    padding: 0px;
}

.article-list-card {
    background-color: #151515;
    border:#333 solid 0.5px;
    margin: 10px 20px;
    padding: 5px;
    color:#888;
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
     min-height: 200px;
}

.article-img {
    min-height: 300px;
    min-width: 300px;
}

.article-title {
    margin: 0px;
    color:#f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.single-article {
    background-color: rgb(4, 2, 2);
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.comment-buttons {
    margin: 0px 20px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.not-upvoted-button {
    background-color: rgb(115, 221, 152);
    padding: 0px 8px;
    margin: 0px 5px;
}

.upvoted-button {
    background-color: lightgray;
    padding: 0px 8px;
    margin: 0px 5px;
}

.upvote-img {
    height: 30px;
    width:30px;
    padding: 0px;
}

.article-body {
    background-color: rgb(175, 175, 175);
    margin: 0px 20px 20px;
    border-radius: 5px;
    padding: 0px 10px;
    color: rgb(46, 46, 46);
}

.article-topic{
    margin: 0px;
}

.article-comments-votes {
    margin: 0px;
}

.article-title:hover {
    color:rgb(179, 6, 6)
}

.article-author-topic {
    margin: 10px 0px 0px;
}

.article-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.modal {
    background-color: gray;
}

.comments-section {
background-color: rgb(175, 175, 175);;
    margin: 20px;
    color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 0px;
}

.comments {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    padding: 10px;
}

.modal {
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    width: 100%;
    min-width: 300px;
    min-height: 100px;
    border: solid rgb(87, 4, 4) 5px;
    padding: 20px;;
}

textarea {
    resize: none;
    width: 100%
}

.sorting-section {
    display: flex;
    align-items: center;
    gap: 12px; 
}

.select-wrapper {
    flex: 1;
}

.order-toggle {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-toggle:hover {
    background-color: #1e1e1e;
    border-color: #888;
}

.topics-list {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}
.topic-card {
    min-width: 300px;
    width: 60%;
    height: 200px;
    list-style-type: none;
    border: #333 solid 0.5px;
    flex-grow: 1;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-weight: normal;
    background-color: #151515;
    color:#888;
}

.topic-card:hover {
    background-color: #1e1e1e;
    border-color: #888;
}