body {
    width: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    min-width: 350px;
}

.header {
    margin: 0px 50px 10px
}

.nav {
    display: flex;
    margin: 0px 50px;
    flex-direction: row;
   justify-content: space-between;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#post-comment-button {
    padding: 2px;
}


.article {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.single-article {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.comment-buttons {
    margin: 0px 20px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.not-upvoted-button {
    background-color: rgb(115, 221, 152);
    padding: 0px 8px;
    margin: 0px 5px;
}

.upvoted-button {
    background-color: lightgray;
    padding: 0px 8px;
    margin: 0px 5px;
}

.upvote-img {
    height: 30px;
    width:30px;
    padding: 0px;
}

.article-body {
    background-color: rgb(175, 175, 175);
    margin: 0px 20px 20px;
    border-radius: 5px;
    padding: 0px 10px;
    color: rgb(46, 46, 46);
}

.article-topic{
    margin: 0px;
}

.article-comments-votes {
    margin: 0px;
}

.article-title {
margin: 0px;
color:black
}

.article-title:hover {
    color:rgb(179, 6, 6)
}

.article-author-topic {
    margin: 10px 0px 0px;
}

.article-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.modal {
    background-color: gray;
}

.comments-section {
background-color: rgb(175, 175, 175);;
    margin: 20px;
    color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 0px;
}

.comments {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    padding: 10px;
}

.modal {
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    width: 100%;
    min-width: 300px;
    min-height: 100px;
    border: solid rgb(87, 4, 4) 5px;
    padding: 20px;;
}

textarea {
    resize: none;
    width: 100%
}