.header {
    margin: 0px 50px 10px
}

.nav {
    margin: 0px 50px
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.article {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.single-article {
    background-color: lightgray;
    margin: 10px;
    color: rgb(46, 46, 46);
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.article-body {
    background-color: rgb(175, 175, 175);
    margin: 0px 20px 20px;
    border-radius: 5px;
    padding: 0px 10px;
    color: rgb(46, 46, 46);
}

.article-topic{
    margin: 0px;
}

.article-comments-votes {
    margin: 0px;
}

.article-title {
margin: 0px;
color:black
}

.article-title:hover {
    color:rgb(179, 6, 6)
}

.article-author-topic {
    margin: 10px 0px 0px;
}

.article-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
